body {
  background-color: red;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.column {
  text-align: center;
  border: 5px solid #555;
}

.column2 {
  text-align: left;
  border-style: solid;
  height: 200px;
  width: 200px;
  float: left;
}

.column3 {
  border-style: solid;
  float: right;
  top: 100px;
  width: 200px;
}

footer{
  background: #111;
  height: 75px;
  width: 150vw;
  font-family: "times new roman";
  padding-top: 10px;
  color: #ffff;
  bottom: 0;
  position: relative;
}

.footer-content{
  text-align: center;
}

